/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    align-items: center;
    justify-content: center;
    background-color: #E1DDBF;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #1e4f46, #c3bfa2);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  clip-path: circle(0px at calc(100% - 30px) 45px) ;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden; 
}
#active:checked ~ .navbar{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 22px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: none;
  padding-top: 2px;
  font-size: 30px;
  color: #346D63;
  cursor: pointer;
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #ffffff00;
  color: #ffffff;
  position: fixed;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.navbar ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navbar ul li{
  margin: 5px 0;
}
.navbar ul li a{
  color: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 5px 10px;
  color: #ffffff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.navbar ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.navbar ul li a:hover:after{
  transform: scaleY(1);
  background-color: #cbc7ac;
}
.navbar ul li a:hover{
  color:#1e4f46;
}
input[type="checkbox"]{
  display: none;
}

.dropdown-menu  {
    background-color: #E1DDBF;
    border: none;
}
.dropdown-menu .dropdown-item[href="#"]:hover {
    background-color: #c3bfa2;
}
.nav-item:hover {
    background-color: #c3bfa2;
}
.nav-item a {
    text-align: center;
    font-size: 1.3rem; /* Change the font size to the desired value */
    padding: 20px 20px 20px 90px; /* Change the padding to the desired value */
}
.dropdown-item{
    margin-left: -40px;
    color: rgb(134, 134, 134);
}

#row{
    padding: 100px 100px;
    background-color: #346D63;
    color: #E1DDBF;
}


h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 50px; 
    margin-left: 0px;
} 
  
.aboutus{
    font-size: 1rem;
    margin-left: 0px;
}

h5{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 50px;
    color: #346D63;
}

  .card {
    flex: 0 0 auto;
    text-align: center;
    background-color: #E1DDBF;
    border-radius: 10px;
  }
  
.footer{
    margin: 30px 0 30px 0;
    text-align: center;
    color: #255a50;
    font-size: 1rem;
} 


.wrapper{
  margin-top: -50px;
  display: flex;
  max-width: 100%;
  position: relative;
}
.wrapper i{
  margin: 0 60px;
  top: 58%;
  height: 44px;
  width: 44px;
  color: #1e4f46;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #e1ddbf7e;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper #left{
    margin-left: 10px;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #E1DDBF;
}
.wrapper i:first-child{
  left: -50px;
  display: none;
}
.wrapper i:last-child{
  right: -50px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  scroll-behavior: smooth;
  background-color: #346D63;
  margin-top: 100px;
  padding: 70px 0px 70px 100px;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}

.carousel img:first-child{
  margin-left: 0px;
}
.card {
    /* width: calc(100% / 3); */
    width: 340px;
    height: 480px;
    object-fit: cover;
    user-select: none;
    margin: 0 150px 0 0;
    text-align: center;
    background-color: #E1DDBF;
    border-radius: 10px;
  }
  
  .card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-bottom: 10px;
    padding: 20px 20px;
    border-radius: 10px;
  }
  
  .card h3{
    font-size: 1.3rem;
    color: #346D63;
    margin-bottom: 10px;
  }
  .card p {
    font-size: 16px;
    color: #777;
  }


@media (max-width: 1200px) {
    #row{
        padding: 100px 50px;
        background-color: #346D63;
        color: #E1DDBF;
    }
    h2 {
        margin-left: 30px;
    }
      
    .aboutus{
        margin-left: 30px;
    } 

}
@media (max-width: 1000px) {
    .card {
        margin: 0 180px 0 -30px;
      }
}

@media (max-width: 800px) {
    h1 {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    h2 {
        margin-left: -5px;
    }
      
    .aboutus{
        margin-left: -5px;
    } 
}
@media (max-width: 420px) {
    .card {
        margin: 0 228px 0 -78px;
      }
}