/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    align-items: center;
    justify-content: center;
    background-color: #E1DDBF;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.navbar{
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #1e4f46, #c3bfa2);
  clip-path: circle(0px at calc(100% - 30px) 45px) ;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden; 
}
#active:checked ~ .navbar{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 22px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: none;
  padding-top: 2px;
  font-size: 30px;
  color: #346D63;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #ffffff00;
  color: #ffffff;
  position: fixed;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.navbar ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navbar ul li{
  margin: 5px 0;
}
.navbar ul li a{
  color: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 5px 10px;
  color: #ffffff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.navbar ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.navbar ul li a:hover:after{
  transform: scaleY(1);
  background-color: #cbc7ac;
}
.navbar ul li a:hover{
  color:#1e4f46;
}
input[type="checkbox"]{
  display: none;
}

.dropdown-menu  {
    background-color: #E1DDBF;
    border: none;
}
.dropdown-menu .dropdown-item[href="#"]:hover {
    background-color: #c3bfa2;
}
.nav-item:hover {
    background-color: #c3bfa2;
}
.nav-item a {
    text-align: center;
    font-size: 1.3rem; /* Change the font size to the desired value */
    padding: 20px 20px 20px 90px; /* Change the padding to the desired value */
}
.dropdown-item{
    margin-left: -40px;
    color: rgb(134, 134, 134);
}
.custom-bg{
    background-color: #E1DDBF;
        font-family: Arial, Helvetica, sans-serif;

}
#sidebar{
  margin: -30px 0px 0 -30px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img1-fluid{
    width:130px;
    height:130px;
}
span{
    color:#4C837A;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 45px;
}
.item-list{
  font-family: Arial, Helvetica, sans-serif;
}


.item-list:hover {
    /* width: 100px;
    height: 50px; */
    background-color: #4c837ae8;
    color: #E1DDBF;
    padding:7px 20px;

    border-radius:50px;
  }
.box{
    width:904px;
    height:350px;
    background-color: #4C837A;
}
.footer{
    margin: 60px 0 8px 0;
    text-align: center;
    color: #255a50;
    font-size: 1rem;
}
#vector-icon{
  height:32px;
  width:32px;
} 

.main {
  position: relative;
  width: 100%;
  min-height: calc(85vh - 10px);
}

.logo {
  position: fixed;
  margin-bottom: 20px;
  margin-left: 18px;
}
/* sidebar */

.sidebar {
  position: absolute;
  top: 0px;
  left: 0;
  margin: 20px 25px;
  height: 100%;
  width: 400px;
  color: #4C837A;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-right: 2px solid #f1f1f1; */
  transition: 0.1s;
}
.sidebar--item{
  color: #4C837A;
}
.sidebar--items li a {
  text-decoration: none;
  box-sizing: border-box;
}

.sidebar--items li a:hover {
  text-decoration: none;
}
.sidebar--item:hover{
  background-color: #4C837A;
  color: #E1DDBF;
  border-radius: 50px;
  padding: 5px 15px;
}

.sidebar.active {
  width: 103px;
  overflow: hidden;
}

.sidebar.active .sidebar--item {
  display: none;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.sidebar--items a,
.sidebar--bottom-items a {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
}

.sidebar--bottom-items li:last-child a {
  margin-bottom: 0;
  text-decoration: none;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 1.3rem;
}



/* main--content */

.main--content {
  margin: 20px 50px 0 0px;
  border-radius: 10px;
  background-color: #4C837A;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% - 430px);
  padding: 0 40px;
  overflow-y: scroll;
  transition: 0.3s;
}

.main--content.active {
  width: calc(100% - 103px);
}

.dropdown {
  outline: none;
  border: none;
  background-color: #f1f4f8;
  border-radius: 5px;
  width: 150px;
  padding: 5px;
}

h2{
  color: #346D63;
  font-size: 24px;
  font-style: bold;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
#row{
  /* text-align: center; */
  padding: 40px 40px;
  background-color: #e1ddbfcb;
  color: #346D63;
  margin: 10px 30px;
  border-radius: 10px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px; 
  margin-left: 0px;
} 
.time{
font-size: 1.2rem;
margin-bottom: 30px; 
/* font-weight: bold; */
}  
.aboutus{
  font-size: 1.2rem;
  margin-left: 0px;
  padding: 10px 0;
}

h5{
  /* text-align: center; */
  font-size: 1.8rem;
  margin-top: 50px;
  color: #346D63;
}
.slider {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;

}
.slider__slides {
position: relative;
width: 400%;
height: 100%;
transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
will-change: transform;
}
.dotimg{
  justify-content: center;
border-radius: 50%;
width: 100%;
height: 100%;
}

.slider__slide {
float: left;
width: 25%;
height: 100%;
border-radius: 50%;
}
.center {
display: flex;
height: 100vh;
justify-content: center;
align-items: center;

}

.slider {
max-width: 400px;
max-height: 400px;
}
/* responsive layouts */
.table{
  overflow-x: auto;
}
thead{
  color:#346D63;
}
th{
font-size: 18px;
}
td{
font-size: 17px;
text-align: center;
color:#346D63;
opacity: 90%;
}
#delete_btn{
  font-size: 16px;
  width: 80px;
  height: 30px;
  background-color: #346D63;
  color: #E1DDBF;
  padding: 0 0 1px 0;
}
#delete_btn:hover{
  background-color: #E1DDBF;
  color:#346D63;
  border: 1px solid #346D63;
}
#sendInformation{
  font-size: 20px;
  width: 150px;
  height: 40px;
  background-color: #346D63;
  color: #E1DDBF;
  padding: 0 0 1px 0;
  /* margin-bottom:30px;
  margin-top:0; */
  margin:0 0 30px 40px;
}
#sendInformation:hover{
background-color: #E1DDBF;
color:#346D63;
border: 1px solid #346D63;
}
.sendInformation{
background-color: #346D63;
opacity: 90%;
color:#E1DDBF;
max-width: 600px;
padding: 20px;
display:none;
}
.noticeboard-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #346D63;
  padding: 20px;
  border-radius: 5px;
  /* display: none; */
  z-index: 10000;
  visibility: hidden;
}
.form-label{
  color:#E1DDBF;
}

#close-icon{
  background-color: #346D63;
  border-color: #346D63;
  color: #E1DDBF;
  font-size: 32px;
  font-weight: 800;
  text-align: end;
  margin-left:auto;
}
#close-icon:hover{
  font-size: 36px;
}
#viewInformation{
  max-width: 510px;
  background-color: #E1DDBF;
  padding: 0 48px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom:30px;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  /* display: none; */
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  transition: visibility 0s, opacity 0.3s;
  /* transition: 0.5s ease-in; */
  /* animation: popupAnimation 0.3s; */
  /* animation:slideInFromLeft 1s ease-in-out forwards; */
}
#informationItem {
  text-align: start;
  color: #346D63;
  font-size: 1rem;
  padding: 8px;
  line-height: 32px;
  max-width: 480px;
  min-width: 250px;
  /* overflow-wrap: break-word; */
}
#add{
width: 120px;
height: 37px;
border: #E1DDBF;
background-color: #E1DDBF;
color: #346D63;
}
#cancel{
width: 120px;
height: 37px;
background-color: #E1DDBF;
color: #346D63;
border: #E1DDBF;
}
#view_btn{
  width: 80px;
  height: 30px;
  background-color: #346D63;
  color: #E1DDBF;
  padding: 0 0 1px 0;
}
#view_btn:hover{
  background-color: #E1DDBF;
  color:#346D63;
  border: 1px solid #346D63;
}
/* Table  */
@media screen and (max-width: 1350px) {
  .cards,
  .employee--cards {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 768px) {
  .search--notification--profile {
    padding: 0 20px;
    margin-left: auto;
  }
  .main--content {

    padding: 0 20px;
  }
  .sidebar {
    padding: 20px;
  }
  .sidebar.active {
    width: 85px;
  }
  .main--content.active {
    width: calc(100% - 85px);
  }

}

@media screen and (max-width: 991px) {
  .search,
  .lock,
  .chat {
    display: none;
  }
  .notification--profile {
    margin-left: auto;
  }
  .search--notification--profile {
    width: fit-content;
  }
  .sidebar {
    transform: translateX(-100%);
    z-index: 10;
  }
  .sidebar.active {
    transform: translateX(0);
    width: 300px;
  }
  .sidebar.active .sidebar--item {
    display: block;
  }
  .main--content {
    width: calc(100% - 80px);
    height: calc(100% - 70px);
    margin-bottom: 50px;
    top: 80px;
  }
  .main--content.active {
    width: calc(100% - 0px);
    top:100px;
    left:5px;
    right: 5px;
  }
  .footer{
    padding-top: 20px;
  }

}
@media screen and (max-width: 650px) and (min-width:451px) {
  #logo{
    width: 50px;
    height:50px;
    margin:0%;
  }
  .employee--filter {
    display: none;
  }
  .main--content {
    position: fixed;
    width: calc(100% - 0px);
    height: calc(100% - 200px);
    margin: 0px;
    padding: 0 10px;
    top:110px;
  }
  .footer{
    padding-top:30px;
  }
  .container-fluid{
    padding:0px;
  }
  #row{
    margin:0px;
  }
  .sidebar{
    margin-right:0px ;
  }
  #title-header{
    display: flex;
    justify-content: end;
    text-align: center;
    width:max-content;
  }
  h2{
    text-align: center;
    font-size: 20px;
    margin-left: 0%;
    padding-left: 10px;
    left: 0px;
    right:0px;
    /* padding-left:10px; */
  }
  h5{
    /* text-align: center; */
    display: flex;
    justify-content: start;
    text-align: center;
    font-size: 17px;
    margin-bottom: 0%;
    padding-right: 100px;
  }
  #row{
    padding: 15px;
    text-align: center;
  }
  #view_btn{
    font-size:15px;
    width:70px;
    margin-bottom:5px;
  }
  td{
    font-size: 15px;
    padding-top:20px;
  }
}
@media screen and (max-width: 450px) {
  #logo{
    width: 50px;
    height:50px;
    margin-bottom: 20px;
  }
  .employee--filter {
    display: none;
  }
  .main--content {
    width: calc(100% - 0px);
    height: calc(100% - 60px);
    margin: 0px;
    padding: 0 10px;
    top:110px;
  }
  #row{
    margin:0px;
  }
  #title-header{
    display: flex;
    justify-content: end;
    text-align: center;
    width:max-content;
  }
  th{
    text-align: start;
  }
  #feedbackReceived{
    padding:0px;
  }
  #feedbackReceived{
    padding: 0px 20px;
  }
  .feedback-item{
    padding: 8px 2px;
  }
  #row{
    margin:0px;
  }
  .sidebar{
    margin-right:0px ;
  }
  h2{
    text-align: center;
    font-size: 19px;
    margin-left: 0%;
    padding-left: 10px;
    left: 0px;
    right:0px;
    width: max-content;
  }
  h5{
    /* display: none; */
    font-size: 15px;
    margin-bottom: 0%;
    /* width: min-content; */
    /* padding-right: 100px; */
  }
  #row{
    padding: 15px;
    text-align: center;
  }
  #view_btn{
    font-size:14px;
    width:70px;
    margin-bottom:5px;
  }
  th{
    font-size: 15px;
  }
  td{
    font-size: 14px;
    padding-top:20px;
  }
  tr{
    width:350px;
  }
  table#tableInformation th:first-child {
    display: none;
  }
  table#tableInformation td:first-child {
    display: none;
  }
  .footer{
    padding-top: 20px;
  }
}
