@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  width: 100%;
  background-color: #E1DDBF;
}


.main {
  position: relative;
  width: 100%;
  min-height: calc(85vh - 10px);
}

.logo {
  position: fixed;
  margin-bottom: 20px;
}
/* sidebar */

.sidebar {
  position: absolute;
  top: 0px;
  left: 0;
  margin: 20px 25px;
  height: 100%;
  width: 400px;
  color: #4C837A;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-right: 2px solid #f1f1f1; */
  transition: 0.1s;
}
.sidebar--item{
  color: #4C837A;
}
.sidebar--items li a {
  text-decoration: none;
  box-sizing: border-box;
}

.sidebar--items li a:hover {
  text-decoration: none;
}
.sidebar--item:hover{
  background-color: #4C837A;
  color: #E1DDBF;
  border-radius: 50px;
  padding: 5px 15px;
}

.sidebar.active {
  width: 103px;
  overflow: hidden;
}

.sidebar.active .sidebar--item {
  display: none;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.sidebar--items a,
.sidebar--bottom-items a {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
}

.sidebar--bottom-items li:last-child a {
  margin-bottom: 0;
  text-decoration: none;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 1.3rem;
}


/* main--content */

.main--content {
  margin: 20px 50px 0 0px;
  border-radius: 10px;
  background-color: #4C837A;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% - 430px);
  padding: 0 40px;
  overflow-y: scroll;
  transition: 0.3s;
}

.main--content.active {
  width: calc(100% - 103px);
}

.dropdown {
  outline: none;
  border: none;
  background-color: #f1f4f8;
  border-radius: 5px;
  width: 150px;
  padding: 5px;
}

h2{
  color: #346D63;
  font-size: 24px;
  font-style: bold;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
#row{
  /* text-align: center; */
  padding: 40px 40px;
  background-color: #e1ddbfcb;
  color: #346D63;
  margin: 10px 30px;
  border-radius: 10px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px; 
  margin-left: 0px;
} 
.time{
font-size: 1.2rem;
margin-bottom: 30px; 
/* font-weight: bold; */
}  
.aboutus{
  font-size: 1.2rem;
  margin-left: 0px;
  padding: 10px 0;
}

h5{
  /* text-align: center; */
  font-size: 1.8rem;
  margin-top: 50px;
  color: #346D63;
}
.slider {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;

}
.slider__slides {
position: relative;
width: 400%;
height: 100%;
transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
will-change: transform;
}
.dotimg{
  justify-content: center;
border-radius: 50%;
width: 100%;
height: 100%;
}

.slider__slide {
float: left;
width: 25%;
height: 100%;
border-radius: 50%;
}
.center {
display: flex;
height: 100vh;
justify-content: center;
align-items: center;

}

.slider {
max-width: 400px;
max-height: 400px;
/* box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); */
}
/* responsive layouts */
#request_btn{
  width: 150px;
  height: 48px;

 margin-left: 50px;
 padding-left: 2px;
 background-color: #E1DDBF;
 color: #4C837A;
}
#confirmed_btn{
  width: 150px;
  height: 48px;
  /* background-color: #E1DDBF; */
  color: #E1DDBF;
  border: 1px solid #E1DDBF;
}
/* table */
thead{
  text-align: center;
  font-size: 20px;
  color:#346D63;
}
td{
  text-align: center;
  font-size: 18px;
  color:#346D63;
  opacity: 90%;
}
#view_btn{
  width: 80px;
  height: 30px;
  background-color: #346D63;
  color: #E1DDBF;
  padding: 0 0 1px 0;
}
#view_btn:hover{
  background-color: #E1DDBF;
  color:#346D63;
  border: 1px solid #346D63;
}
#orderReceived{
  display: none;
  max-width: 510px;
  background-color: #E1DDBF;
  padding: 0 48px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom:30px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  transition: visibility 0s, opacity 0.3s;
}
.order-item {
  text-align: start;
  color: #346D63;
  font-size: 1rem;
  padding: 8px;
  line-height: 32px;
  max-width: 480px;
  min-width: 250px;
  /* overflow-wrap: break-word; */
}
.order-item h4{
  padding-top:8px;
}
#acceptBtn{
  width: 120px;
  height: 44px;
  color: #E1DDBF;
  border: #346D63;
  background-color: #346D63;
 /* margin-left: 50px;
 padding-left: 2px; */
}
#acceptBtn:hover{
  color: #346D63;
  background-color: #E1DDBF;
  border: 1px solid #346D63;
}
#rejectBtn{
  width: 120px;
  height: 40px;
  color: #E1DDBF;
  border: 1px solid #346D63;
  background-color:#346D63;
}
#rejectBtn:hover{
  color:#346D63 ;
  border: 1px solid #346D63;
  background-color: #E1DDBF;
}
.table{
  overflow-x: auto;
}
#close-icon{
  background-color: #E1DDBF;
  border-color: #E1DDBF;
  color: #346D63;
  font-size: 30px;
  font-weight: 800;
  text-align: end;
}
#close-icon:hover{
  font-size: 34px;
}
@media screen and (max-width: 1350px) {
  .cards,
  .employee--cards {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 1024px) {
  table {
    min-width: 600px;
  }
}

@media screen and (max-width: 768px) {

  .search--notification--profile {
    padding: 0 20px;
    margin-left: auto;
  }
  .main--content {
    padding: 0 20px;
  }
  .sidebar {
    padding: 20px;
  }
  .sidebar.active {
    width: 85px;
  }
  .main--content.active {
    width: calc(100% - 85px);
  }
}

@media screen and (max-width: 990px) {
  .search,
  .lock,
  .chat {
    display: none;
  }
  .notification--profile {
    margin-left: auto;
  }
  .search--notification--profile {
    width: fit-content;
  }
  .sidebar {
    transform: translateX(-100%);
    z-index: 10;
  }
  .sidebar.active {
    transform: translateX(0);
    width: 300px;
  }
  .sidebar.active .sidebar--item {
    display: block;
  }
  .main--content {
    width: calc(100% - 80px);
    height: calc(100% - 70px);
    margin-bottom: 50px;
    left:40px;
    margin-right:50px;
    top: 80px;
  }
  .main--content.active {
    width: calc(100% - 0px);
    top:100px;
    left:5px;
    right: 5px;
  }
  .footer{
    padding-top: 20px;
  }
}
@media screen and (max-width: 650px) and (min-width:451px){
  #logo{
    width: 50px;
    height:50px;
    margin:0%;
  }
  .employee--filter {
    display: none;
  }
  .main--content {
    position: fixed;
    width: calc(100% - 60px);
    height: calc(100% - 200px);
    margin: 0px;
    padding: 0 10px;
    top:110px;
  }
  .footer{
    padding-top:10px;
  }
  .container-fluid{
    padding:0px;
  }
  #row{
    margin:0px;
    padding: 15px;
    text-align: center;
  }
  h2{
    text-align: center;
    font-size: 20px;
    margin-left: 0%;
    padding-left: 10px;
    left: 0px;
    right:0px;
    /* padding-left:10px; */
  }
  h5{
    /* text-align: center; */
    display: flex;
    justify-content: start;
    text-align: center;
    font-size: 17px;
    margin-bottom: 0%;
    padding-right: 100px;
  }
  #view_btn{
    font-size:15px;
    width:70px;
    margin-bottom:5px;
  }
  td{
    font-size: 15px;
    padding-top:20px;
  }
}

@media screen and (max-width: 450px) {
  #logo{
    width: 50px;
    height:50px;
    margin-bottom:20px;
  }
  .employee--filter {
    display: none;
  }
  .main--content {
    position: fixed;
    width: calc(100% - 0px);
    height: calc(100% - 200px);
    margin: 0px;
    padding: 0 10px;
    top:110px;
    left:0%;
  }
  .footer{
    padding-top:20px;
  }
  .container-fluid{
    padding:0px;
  }
  #row{
    padding:20px;
    margin:0px;
  }
  h2{
    /* text-align: center; */
    font-size: 20px;
    margin-left: 0%;
    /* padding-left: 10px; */
    left: 0px;
    right:0px;
    /* padding-left:10px; */
  }
  h5{
    /* text-align: center; */
    /* display: flex;
    justify-content: start; */
    /* text-align: center; */
    width: max-content;
    font-size: 17px;
    margin-bottom: 0%;
    padding-right: 100px;
  }
  #orderReceived{
    padding: 0 20px;
  }
  .order-item{
    padding: 8px 2px;
  }
  #view_btn{
    font-size:14px;
    width:70px;
    margin-bottom:5px;
  }
  tr{
    text-align: start;
  }
  th{
    /* text-align: start; */
    font-size: 15px;
  }
  td{
    font-size: 14px;
    padding-top:20px;
  }
  table#orderConfirmedTable th:first-child {
    display: none;
  }
  table#orderConfirmedTable td:first-child {
    display: none;
  }
  #orderTable{
    margin-right: 70px;
  }
  #request_btn{
    margin-left: 40px;
  }
  /* #button-page{
    margin-right: 20px;
  } */
}
@media screen and (max-width:380px){
  #request_btn{
    width:calc(100%-10px);
    height:calc(100%-8px);
    margin-left: 25px;
  }
  #confirmed_btn{
    height:calc(100%-8px);
    width:calc(100%-10px);
  }
  .footer{
    margin-top:80px;
  }
}
@media screen  and (width:375px) and (height:667px){
  .footer{
    padding-bottom: 20px;
    /* margin-bottom:50px; */
    margin:0%;
  }
}
@media screen and (max-width:361px){
  h2{
    font-size: 16px;
  }
  th{
    text-align: start;
  }
}
@media screen and (max-width:281px){
  h2{
    font-size: 16px;
  }
  th{
    text-align: start;
  }
}