/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    align-items: center;
    justify-content: center;
    background-color: #E1DDBF;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.navbar{
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #1e4f46, #c3bfa2);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  clip-path: circle(0px at calc(100% - 30px) 45px) ;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden; 
}
#active:checked ~ .navbar{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 22px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: none;
  padding-top: 2px;
  font-size: 30px;
  color: #346D63;
  cursor: pointer;
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #ffffff00;
  color: #ffffff;
  position: fixed;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.navbar ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navbar ul li{
  margin: 5px 0;
}
.navbar ul li a{
  color: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 5px 10px;
  color: #ffffff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.navbar ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.navbar ul li a:hover:after{
  transform: scaleY(1);
  background-color: #cbc7ac;
}
.navbar ul li a:hover{
  color:#1e4f46;
}
input[type="checkbox"]{
  display: none;
}

.dropdown-menu  {
    background-color: #E1DDBF;
    border: none;
}
.dropdown-menu .dropdown-item[href="#"]:hover {
    background-color: #c3bfa2;
}
.nav-item:hover {
    background-color: #c3bfa2;
}
.nav-item a {
    text-align: center;
    font-size: 1.3rem; /* Change the font size to the desired value */
    padding: 20px 20px 20px 90px; /* Change the padding to the desired value */
}
.dropdown-item{
    margin-left: -40px;
    color: rgb(134, 134, 134);
}
.custom-bg{
    background-color: #E1DDBF;
        font-family: Arial, Helvetica, sans-serif;

}
#sidebar{
  margin: -30px 0px 0 -30px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 300px;
  /* background-color: #ffc8a1;
  color: rgb(0, 0, 0); */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img1-fluid{
    width:130px;
    height:130px;
}
span{
    color:#4C837A;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 45px;
}
.item-list{
  font-family: Arial, Helvetica, sans-serif;
}


.item-list:hover {
    /* width: 100px;
    height: 50px; */
    background-color: #4c837ae8;
    color: #E1DDBF;
    padding:7px 20px;

    border-radius:50px;
  }
.box{
    width:904px;
    height:350px;
    background-color: #4C837A;
}
.footer{
    margin: 60px 0 8px 0;
    text-align: center;
    color: #255a50;
    font-size: 1rem;
}
#vector-icon{
  height:32px;
  width:32px;
} 
@media(max-width:991px){
    .img1-fluid{
        display:none;
    }
    span{
        display:flex;
        justify-content: center;
        align-items: center;
        color:#E1DDBF;
        padding:0% 5px;
    }
    #sidebar{
        position:fixed;
        background-color: #4C837A;
        color:#E1DDBF;
    }
}

@media (max-width:1174px) and (min-width:992px){
    .item-list{
      padding-left:3px;
      align-items: center;
    }
  }