@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  width: 100%;
  background-color: #E1DDBF;
}


.main {
  position: relative;
  width: 100%;
  min-height: calc(85vh - 10px);
}

.logo {
  position: fixed;
  margin-bottom: 20px;
}
/* sidebar */

.sidebar {
  position: absolute;
  top: 0px;
  left: 0;
  margin: 20px 25px;
  height: 100%;
  width: 400px;
  color: #4C837A;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-right: 2px solid #f1f1f1; */
  transition: 0.1s;
}
.sidebar--item{
  color: #4C837A;
}
.sidebar--items li a {
  text-decoration: none;
  box-sizing: border-box;
}

.sidebar--items li a:hover {
  text-decoration: none;
}
.sidebar--item:hover{
  background-color: #4C837A;
  color: #E1DDBF;
  border-radius: 50px;
  padding: 5px 15px;
}

.sidebar.active {
  width: 103px;
  overflow: hidden;
}

.sidebar.active .sidebar--item {
  display: none;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.sidebar--items a,
.sidebar--bottom-items a {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
}


/* .sidebar--items a:hover,
.sidebar--bottom-items a:hover {
  background-color: #4C837A;
  color: #E1DDBF;
  border-radius: 50px;
  padding: 5px 20px;
} */

/* #active--link {
  background-color: white;
  color: rgb(0, 0, 0);
} */

.sidebar--bottom-items li:last-child a {
  margin-bottom: 0;
  text-decoration: none;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 1.3rem;
}

/* main--content */

.main--content {
  margin: 40px 40px 0 0px;
  border-radius: 10px;
  background-color: #4C837A;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% - 430px);
  padding: 0 40px;
  overflow-y: scroll;
  transition: 0.3s;
}

.main--content.active {
  width: calc(100% - 103px);
}

.dropdown {
  outline: none;
  border: none;
  background-color: #f1f4f8;
  border-radius: 5px;
  width: 150px;
  padding: 5px;
}

h2{
  color: #346D63;
  font-size: 24px;
  font-style: bold;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
#row{
  /* text-align: center; */
  padding: 40px 40px;
  background-color: #e1ddbfcb;
  color: #346D63;
  margin: 10px 30px;
  border-radius: 10px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px; 
  margin-left: 0px;
} 
.time{
font-size: 1.2rem;
margin-bottom: 30px; 
/* font-weight: bold; */
}  
.aboutus{
  font-size: 1.2rem;
  margin-left: 0px;
  padding: 10px 0;
}

h5{
  /* text-align: center; */
  font-size: 1.8rem;
  margin-top: 50px;
  color: #346D63;
}
.slider {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;

}
.slider__slides {
position: relative;
width: 400%;
height: 100%;
transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
will-change: transform;
}
.dotimg{
  justify-content: center;
border-radius: 50%;
width: 100%;
height: 100%;
}

.slider__slide {
float: left;
width: 25%;
height: 100%;
border-radius: 50%;
}
.center {
display: flex;
height: 100vh;
justify-content: center;
align-items: center;

}

.slider {
max-width: 400px;
max-height: 400px;
/* box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); */
}
/* responsive layouts */
.table{
    overflow-x: auto;
}
thead{
    color:#346D63;
  }
  thead{
    font-size: 20px;
    color:#346D63;
  }
  td{
    font-size: 18px;
    color:#346D63;
    opacity: 90%;
  }
  td{
    text-align: center;
    color:#346D63;
    opacity: 90%;
  }
  #delete_btn{
      font-size: 16px;
      width: 80px;
      height: 30px;
      background-color: #346D63;
      color: #E1DDBF;
      padding: 0 0 1px 0;
  }
  #delete_btn:hover{
      background-color: #E1DDBF;
      color:#346D63;
      border: 1px solid #346D63;
  }
  #addAdmin{
      font-size: 20px;
      width: 150px;
      height: 40px;
      background-color: #346D63;
      color: #E1DDBF;
      padding: 0 0 1px 0;
      margin-bottom:30px;
      margin-top:0;
  }
  #addAdmin:hover{
      background-color: #E1DDBF;
      color:#346D63;
      border: 1px solid #346D63;
  }
  .addAdmin{
      background-color: #346D63;
      opacity: 90%;
      color:#E1DDBF;
      max-width: 450px;
      padding: 20px;
      display:none;
  }
  
    
    .admin-form-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #346D63;
      padding: 20px;
      border-radius: 5px;
      display: none;
      z-index: 10000;
    }
    
  .form-control{
      max-width: 250px;
  
  }
  #add{
      width: 120px;
      height: 37px;
      border: #E1DDBF;
      background-color: #E1DDBF;
      color: #346D63;
  }
  #cancel{
      width: 120px;
      height: 37px;
      background-color: #E1DDBF;
      color: #346D63;
      border: #E1DDBF;
  }
  .footer{
    padding-top: 15px;
  }
@media screen and (max-width: 1350px) {
  .cards,
  .employee--cards {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 1024px) {
  table {
    min-width: 600px;
  }
}

@media screen and (max-width: 768px) {

  .search--notification--profile {
    padding: 0 20px;
    margin-left: auto;
  }
  .main--content {
    padding: 0 20px;
  }
  .sidebar {
    padding: 20px;
  }
  .sidebar.active {
    width: 85px;
  }
  .main--content.active {
    width: calc(100% - 85px);
  }
}

@media screen and (max-width: 990px) {
  .logo{
    width:60px;
    height:60px;
    margin-top: -5px;
    margin-bottom:10px;
  }
  .search,
  .lock,
  .chat {
    display: none;
  }
  .notification--profile {
    margin-left: auto;
  }
  .search--notification--profile {
    width: fit-content;
  }
  .sidebar {
    transform: translateX(-100%);
    z-index: 10;
  }
  .sidebar.active {
    transform: translateX(0);
    width: 300px;
  }
  .sidebar.active .sidebar--item {
    display: block;
  }
  .main--content {
    width: calc(100% - 80px);
    height: calc(100% - 70px);
    margin-bottom: 50px;
    top: 80px;
  }
  .main--content.active {
    width: calc(100% - 0px);
  }
  .footer{
    padding-top:10px;
  }
  #addAdmin{
    margin-left: 15px;
  }
}

@media screen and (max-width: 500px) {
  .employee--filter {
    display: none;
  }
  .main--content {
    width: calc(100% - 0px);
    height: calc(100% - 60px);
    margin: 0px;
    padding: 0 10px;
    top:110px;
  }
  .footer{
    padding-top:20px;
  }
  .container-fluid{
    padding:0px;
  }
  #row{
    margin:0px;
  }
  .sidebar{
    margin-right:0px ;
  }
  #title-header{
    display: flex;
    justify-content: center;
    text-align: center;
    width:max-content;
    padding-right:0px;
  }
  h2{
    font-size: 19px;
    padding-left: 0;
  }
  h5{
    display: flex;
    justify-content: end;
    text-align: center;
    font-size: 16px;
    margin-bottom: 0%;
    padding-right: 20px;
  }
  th{
    font-size: 15px;
  }
  td{
    font-size: 14px;
    padding-top:20px;
  }
  #addAdmin{
    margin-left: 10px;
    margin-bottom: 8px;
  }
  #row{
    padding: 15px;
    text-align: center;
  }
  .table{
    width:350px;
  }
  tr{
    width:350px;
  }
  table#tableAdmin th:first-child {
    display: none;
  }
  table#tableAdmin td:first-child {
    display: none;
  }
}
