/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    align-items: center;
    justify-content: center;
    background-color: #E1DDBF;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.navbar{
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #1e4f46, #c3bfa2);
  clip-path: circle(0px at calc(100% - 30px) 45px) ;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden; 
}
#active:checked ~ .navbar{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 22px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: none;
  padding-top: 2px;
  font-size: 30px;
  color: #346D63;
  cursor: pointer;
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #ffffff00;
  color: #ffffff;
  position: fixed;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.navbar ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navbar ul li{
  margin: 5px 0;
}
.navbar ul li a{
  color: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 5px 10px;
  color: #ffffff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.navbar ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.navbar ul li a:hover:after{
  transform: scaleY(1);
  background-color: #cbc7ac;
}
.navbar ul li a:hover{
  color:#1e4f46;
}
input[type="checkbox"]{
  display: none;
}

.dropdown-menu  {
    background-color: #E1DDBF;
    border: none;
}
.dropdown-menu .dropdown-item[href="#"]:hover {
    background-color: #c3bfa2;
}
.nav-item:hover {
    background-color: #c3bfa2;
}
.nav-item a {
    text-align: center;
    font-size: 1.3rem; /* Change the font size to the desired value */
    padding: 20px 20px 20px 90px; /* Change the padding to the desired value */
}
.dropdown-item{
    margin-left: -40px;
    color: rgb(134, 134, 134);
}
.custom-bg{
    background-color: #E1DDBF;
        font-family: Arial, Helvetica, sans-serif;

}
#sidebar{
  margin: -30px 0px 0 -30px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 300px;
  /* background-color: #ffc8a1;
  color: rgb(0, 0, 0); */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img1-fluid{
    width:130px;
    height:130px;
}
span{
    color:#4C837A;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 45px;
}
.item-list{
  font-family: Arial, Helvetica, sans-serif;
}


.item-list:hover {
    /* width: 100px;
    height: 50px; */
    background-color: #4c837ae8;
    color: #E1DDBF;
    padding:7px 20px;

    border-radius:50px;
  }
.box{
    width:904px;
    height:350px;
    background-color: #4C837A;
}
.footer{
    margin: 60px 0 8px 0;
    text-align: center;
    color: #255a50;
    font-size: 1rem;
}
#vector-icon{
  height:32px;
  width:32px;
} 

.main {
  position: relative;
  width: 100%;
  min-height: calc(85vh - 10px);
}

.logo {
  position: fixed;
  margin-bottom: 20px;
  margin-left: 18px;
}
/* sidebar */

.sidebar {
  position: absolute;
  top: 0px;
  left: 0;
  margin: 20px 25px;
  height: 100%;
  width: 400px;
  color: #4C837A;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-right: 2px solid #f1f1f1; */
  transition: 0.1s;
}
.sidebar--item{
  color: #4C837A;
}
.sidebar--items li a {
  text-decoration: none;
  box-sizing: border-box;
}

.sidebar--items li a:hover {
  text-decoration: none;
}
.sidebar--item:hover{
  background-color: #4C837A;
  color: #E1DDBF;
  border-radius: 50px;
  padding: 5px 15px;
}

.sidebar.active {
  width: 103px;
  overflow: hidden;
}

.sidebar.active .sidebar--item {
  display: none;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.sidebar--items a,
.sidebar--bottom-items a {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
}

.sidebar--bottom-items li:last-child a {
  margin-bottom: 0;
  text-decoration: none;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 1.3rem;
}


/* main--content */
.main--content {
  margin: 20px 50px 0 0px;
  border-radius: 20px;
  /* background-color: #4C837A; */
  position: absolute;
  top: 0;
  right: 0;
  height: 40%;
  width: calc(100% - 430px);
  padding: 0 0px;
  transition: 0.3s;
}

.main--content.active {
  width: calc(100% - 103px);
}

.dropdown {
  outline: none;
  border: none;
  background-color: #f1f4f8;
  border-radius: 5px;
  width: 150px;
  padding: 5px;
}

h2{
  text-align: center;
  color: #346D63;
  font-size: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#row{
  margin-top: 50px;
  text-align: center;
  /* padding: 40px 40px; */
  /* background-color: #e1ddbfcb; */
  color: #346D63;
  /* margin: 50px 70px; */
  border-radius: 10px;
}
#team{
  justify-content: center;
}

.text{
    background-color: #E1DDBF;
    margin: 35px;
    border-radius: 20px;
}
.box1{
    background-color: #E1DDBF;
    margin: 5px;
    border-radius: 10px;
}
.box2{
    background-color: #E1DDBF;
    margin: 5px 10px;
    border-radius: 10px;
}
h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px; 
} 
.time{
font-size: 1.2rem;
margin-bottom: 30px; 
/* font-weight: bold; */
}  
.aboutus{
  font-size: 1.2rem;
  margin-left: 0px;
  padding: 10px 0;
}
.container-fluid{
    background-color: #346D63;
    margin-top: 20px;
    border-radius: 10px;
}
.slider {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;

}
.slider__slides {
position: relative;
justify-content: center;
width: 500%;
height: 100%;
transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
will-change: transform;
}
#team img{
border-radius: 50%;
width: 50%;
margin: 50px;
}

.slider__slide {
float: left;
width: 25%;
height: 100%;
border-radius: 50%;
justify-content: center;
text-align: center;
}
.center {
display: flex;
height: 100vh;
justify-content: center;
align-items: center;

}

.slider {
max-width: 400px;
max-height: 400px;
/* box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); */
}



.section {
    margin-top: 20px;
    height: 100%;
    display: flex;
  }

  .left-half {
    border-radius: 10px;
    background-color: #346D63;
    flex: 1;
    margin-right: 20px;
  }

  .right-half {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .top-half {
    border-radius: 10px;
    background-color: #346D63;
    flex: 1;
  }

  .bottom-half {
    display: flex;
    flex: 1;
  }

  .left-sub-half, .right-sub-half {
    border-radius: 10px;
    margin-top: 20px;
    flex: 1;
  }

  .left-sub-half {
    background-color: #346D63;
    margin-right: 20px;
  }

  .right-sub-half {
    background-color: #346D63;
  }
/* responsive layouts */

footer{
  position: relative;
  margin-top: 70px;
  margin-bottom: 0px;
}
@media screen and (max-width: 1350px) {
  .cards,
  .employee--cards {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 1024px) {
  table {
    min-width: 600px;
  }
}

@media screen and (max-width: 1250px) {
  footer{
    margin-top: 320px;
  }
}

@media screen and (max-width: 990px) {
  .search,
  .lock,
  .chat {
    display: none;
  }
  .notification--profile {
    margin-left: auto;
  }
  .search--notification--profile {
    width: fit-content;
  }
  .sidebar {
    transform: translateX(-100%);
    z-index: 10;
  }
  .sidebar.active {
    transform: translateX(0);
    width: 300px;
  }
  .sidebar.active .sidebar--item {
    display: block;
  }
  .main--content {
    width: calc(100% - 0px);
    padding-top: 130px;
  }
  .main--content.active {
    width: calc(100% - 0px);
  }
  .logo{
    position: relative;
    margin-top: -20px;
}
.main--content {
    margin: 0px 50px 0 30px;
    width: calc(100% - 100px);
}
footer{
    margin-top: -40px;
}
}

@media screen and (max-width: 950px) {

  .logo{
      position: relative;
      margin-top: -20px;
  }
  .main--content {
      margin: 0px 50px 0 30px;
      width: calc(100% - 100px);
  }
  footer{
      margin-top: 270px;
  }
}


@media screen and (max-width: 768px) {

  .search--notification--profile {
    padding: 0 20px;
    margin-left: auto;
  }
  .main--content {
    padding: 0 20px;
  }
  .sidebar {
    padding: 20px;
  }
  .sidebar.active {
    width: 85px;
  }
  .main--content.active {
    width: calc(100% - 85px);
  }
  footer{
    margin-top: 140px;
  }

}

@media screen and (max-width: 716px) {
  .logo{
      position: relative;
      margin-top: -20px;
  }
  .main--content {
      margin: 0px 50px 0 30px;
      width: calc(100% - 100px);
  }
  footer{
      margin-top: 280px;
  }
  .section {
      flex-direction: column;
  }
    .left-half {
      margin-right: 0px;
    }
    .noti{
      margin-top: -160px;
    }
    .right-half {
      margin-top: 20px;
    }
}

@media screen and (max-width: 700px) {
  footer{
      margin-top: 280px;
  }
}
@media screen and (max-width: 698px) {
  footer{
      margin-top: 520px;
  }
}
@media screen and (max-width: 450px) {
  .employee--filter {
    display: none;
  }
  .main--content {
    padding: 0 10px;
  }
}

@media(max-width:991px){
  .img1-fluid{
      display:none;
  }
  span{
      display:flex;
      justify-content: center;
      align-items: center;
      color:#E1DDBF;
      padding:0% 5px;
  }
  #sidebar{
      position:fixed;
      background-color: #4C837A;
      color:#E1DDBF;
  }
  .main--content {
    margin-top: -160px;
  }
}
@media(max-width:770px){
  .main--content {
    margin-top: -20px;
  }
  footer{
    margin-top: 250px;
  }
}
@media(max-width:717px){
  footer{
    margin-top: 400px;
  }
}
@media(max-width:700px){
  footer{
    margin-top: 650px;
  }
}
@media(max-width:430px){
  footer{
    margin-top: 650px;
  }
}
@media(max-width:428px){
  footer{
    margin-top: 700px;
  }
}
@media(max-width:410px){
  footer{
    margin-top: 750px;
  }
}
@media (max-width:1174px) and (min-width:992px){
  .item-list{
    padding-left:3px;
    align-items: center;
  }
}