/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    align-items: center;
    justify-content: center;
    background-color: #E1DDBF;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #1e4f46, #c3bfa2);
  clip-path: circle(0px at calc(100% - 30px) 45px) ;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;

}
#active:checked ~ .navbar{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 22px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: none;
  padding-top: 2px;
  font-size: 30px;
  color: #346D63;
  cursor: pointer;
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #ffffff00;
  color: #ffffff;
  margin-top: -25px;
  margin-right: 10px;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
  position: fixed;
}
.navbar ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navbar ul li{
  margin: 5px 0;
}
.navbar ul li a{
  color: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 20px 15px;
  color: #ffffff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;

}
.navbar ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.navbar ul li a:hover:after{
  transform: scaleY(1);
  background-color: #dad6be;
  
}
.navbar ul li a:hover{
  color:#1e4f46;
}
input[type="checkbox"]{
  display: none;
}

.dropdown-menu  {
    border: none;
    background-color: #1e4f4600;
}
.dropdown-menu .dropdown-item[href="#"]:hover {
    transform: scaleY(1);
    background-color: #1e4f4600;
}
.nav-item:hover {
  color:#1e4f46;
}
.nav-item a {
    text-align: center;
    font-size: 1.3rem; /* Change the font size to the desired value */
    padding: 20px 200px 20px 90px; /* Change the padding to the desired value */
}


.row1-bg{
  padding: 30px 200px;
  color: #255a50;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 50px; 
  margin-left: 20px;
  text-align: center;
} 

.aboutus{
  padding: 20px 30px;
  border: 0.2rem solid #346D63;
  font-size: 1.2rem;
  margin-left: 20px;
}

h5{
  text-align: center;
  font-size: 1.8rem;
  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 70px;
  color: #E1DDBF;
  background-color: #346D63;
}

.card-slider1 {
  background-color: #346D63;
  display: flex;
  margin-top: -10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.card1 {
  width: 340px;
  height: 480px;
  object-fit: cover;
  user-select: none;
  text-align: center;
  background-color: #E1DDBF;
  border-radius: 10px;
}
.card1 img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin-bottom: 10px;
  padding: 20px 20px;
  border-radius: 10px;
}

.card1 h2{
  font-size: 1.3rem;
  color: #346D63;
  margin-bottom: 10px;
}
.card1 p {
  font-size: 16px;
  color: #777;
}
.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #346D63;
}


.card2 {
  /* width: calc(100% / 3); */
  max-width: 400px;
  max-height: 500px;
  object-fit: cover;
  user-select: none;
  margin: 0 50px 50px 50px;
  text-align: center;
  background-color: #E1DDBF;
  border-radius: 10px;
}

.card2 img {
  width: 340px;
  height: 360px;
  object-fit: cover;
  margin-bottom: 30px;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
}

.card2 h2{
  font-size: 1.3rem;
  color: #346D63;
  margin-bottom: 10px;
}
.card2 p {
  font-size: 16px;
  color: #777;
  margin-bottom: 30px;
}
#row{
    padding: 100px 100px;
    background-color: #346D63;
    color: #E1DDBF;
}


h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 50px; 
    margin-left: 0px;
} 
  
.aboutus{
    font-size: 1rem;
    margin-left: 0px;
}

h5{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 55px;
    color: #E1DDBF;
}

  .card {
    flex: 0 0 auto;
    text-align: center;
    background-color: #E1DDBF;
    border-radius: 10px;
  }
  
.footer{
    margin: 30px 0 30px 0;
    text-align: center;
    color: #255a50;
    font-size: 1rem;
} 


.wrapper{
  margin-top: -150px;
  display: flex;
  max-width: 100%;
  position: relative;
}
.wrapper i{
  margin: 0 60px;
  top: 58%;
  height: 44px;
  width: 44px;
  color: #1e4f46;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #e1ddbf7e;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper #left{
    margin-left: 10px;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #E1DDBF;
}
.wrapper i:first-child{
  left: -50px;
  display: none;
}
.wrapper i:last-child{
  right: -50px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  scroll-behavior: smooth;
  background-color: #346D63;
  margin-top: 100px;
  padding: 70px 0px 70px 100px;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}

.carousel img:first-child{
  margin-left: 0px;
}
.card {
    /* width: calc(100% / 3); */
    width: 340px;
    height: 540px;
    object-fit: cover;
    user-select: none;
    margin: 0 150px 0 0;
    text-align: center;
    background-color: #E1DDBF;
    border-radius: 10px;
  }
  
  .card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-bottom: 5px;
    padding: 20px 20px;
    border-radius: 10px;
  }
  
  .card h3{
    font-size: 1.3rem;
    color: #346D63;
    margin-bottom: 10px;
  }
  .card p {
    font-size: 16px;
    color: #777;
  }

  .gallery {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    height: 100%;
    margin: 10px 30px 0 30px;
  }
  .gallery-item {
    overflow: hidden;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover img {
    transform: scale(1.1);
  }
  
  .big {
    grid-row: 1 / span 2;
  }
  
  .small {
    width: 100%;
    height: 95%;
  }

@media (max-width: 1200px) {
    #row{
        padding: 100px 50px;
        background-color: #346D63;
        color: #E1DDBF;
    }
    h2 {
        margin-left: 30px;
    }
      
    .aboutus{
        margin-left: 30px;
    } 
    .row1-bg{
      padding: 30px 50px;
      color: #255a50;
    }

}
@media (max-width: 1000px) {

}

@media (max-width: 800px) {
    h1 {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    h2 {
        margin-left: -5px;
    }
      
    .aboutus{
        margin-left: -5px;
    } 
}
@media (max-width: 420px) {

}
@media (max-width: 608px) {
  .card {
    margin: 0 175px 0 -27px;
  }

}
@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
  }
  
  .big {
    grid-row: auto;
  }
  
  .small {
    width: 100%;
    height: auto;
  }
}
