.custom-bg{
    background-color: #E1DDBF;
}
.my-image {
    width: 242px;
    height: 242px;
}

img{
    width:100%;
    height:100%;
}
.img2{
    width:200px;
    height: 150px;
}
.form-label{
    color: #4C837A;
    font-weight: 500;
    padding-left: 2px;
}
.form-control{
    border-color:#4C837A;
}
.form-control::placeholder{
    color: #4C837A;
    font-weight: 350;
}
.invalid-feedback{
    padding-left: 2px;
}
.signUP{
    color:#4C837A;
    font-weight: 450;
}
a{
    color:#4C837A;
    font-weight: 300;
}
.btn{
    max-width:300px;
    height:auto;
    background-color: #4C837A;
    color:#E1DDBF;
}
.btn:hover{
    border-color: #4C837A;
    color:#4C837A;
}
h4{
    color:#4C837A;
}
p{
    color:#4C837A;
}
.otp{
    width: 300px;
    margin: 0 auto;
}
#field{
    width:300px;
}

@media screen and (max-width:982px) and (min-width:769px){
    #field{
        max-width:320px;
    }
    .my-image{
        width:200px;
        height:200px;
    }
    .btn{
        height:auto;
        background-color: #4C837A;
        color:#E1DDBF;
        margin-top:16px;
    }
    #second-col{
        margin-top: 40px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    #activation_link{
        margin-top: 85px;
    }
}
@media screen and (max-width:480px){
    .my-image{
        width:150px;
        height:150px;
    }
    #second-col{
        margin-top: 55px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    #activation_link{
        margin-top: 80px;
    }
}  
@media screen and (max-width:376px){
    .my-image{
        width:150px;
        height:150px;
    }
    #second-col{
        margin-top: 55px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    #activation_link{
        margin-top: 35px;
    }
} 
@media screen and (max-width:300px) {
    .my-image{
        max-width:100px;
        max-height:100px;
    }
    #field{
        margin-left: 12px;
        max-width:220px;
    }
    .my-image{
        width:200px;
        height:200px;
    }
    .btn{
        width:220px ;
        height:auto;
        background-color: #4C837A;
        color:#E1DDBF;
        margin-top:16px;
    }
    #second-col{
        margin-top: 20px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    #forgot{
        font-size: 12px;
        margin-right: 60px;
        padding-right:5px;
    }
    .signUP{
        font-size: 12px;
    }
}