/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    align-items: center;
    justify-content: center;
    background-color: #E1DDBF;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #1e4f46, #c3bfa2);
  clip-path: circle(0px at calc(100% - 30px) 45px) ;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden; 
}
#active:checked ~ .navbar{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 22px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: none;
  padding-top: 2px;
  font-size: 30px;
  color: #346D63;
  cursor: pointer;
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #ffffff00;
  color: #ffffff;
  position: fixed;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.navbar ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navbar ul li{
  margin: 5px 0;
}
.navbar ul li a{
  color: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 5px 10px;
  color: #ffffff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.navbar ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.navbar ul li a:hover:after{
  transform: scaleY(1);
  background-color: #cbc7ac;
}
.navbar ul li a:hover{
  color:#1e4f46;
}
input[type="checkbox"]{
  display: none;
}

.dropdown-menu  {
    background-color: #E1DDBF;
    border: none;
}
.dropdown-menu .dropdown-item[href="#"]:hover {
    background-color: #c3bfa2;
}
.nav-item:hover {
    background-color: #c3bfa2;
}
.nav-item a {
    text-align: center;
    font-size: 1.3rem; /* Change the font size to the desired value */
    padding: 20px 20px 20px 90px; /* Change the padding to the desired value */
}
.dropdown-item{
    margin-left: -40px;
    color: rgb(134, 134, 134);
}

#row{
    padding: 80px 200px;
    background-color: #346D63;
    color: #E1DDBF;
    background-image: url(/messite/view/images/rr.jpg);
}

h1 {
  font-size: 5.5rem;
  font-weight: bold;
  margin-bottom: 0px; 
  margin-left: 0px;
  color: rgba(225, 221, 191, 1);
} 
.time{
  font-size: 1.2rem;
  margin-bottom: 30px; 
  /* font-weight: bold; */
}  
.aboutus{
    font-size: 1.2rem;
    margin-left: 0px;
    padding: 10px 0;
}

h5{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 50px;
    color: #346D63;
}

.rate {
  float: left;
  height: 10px;
  margin-left: -10px;
  margin-top: -40px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width: 1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size: 2.5rem;
  justify-content: center;
  color:#ffffff;
  margin: 0px 5px;
}
.rate:not(:checked) > label:before {
  content: '★ ';

}
.rate > input:checked ~ label {
  color: #ffe600;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #ffe600;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #d9d7c5;
}

  

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider__slides {
  position: relative;
  width: 400%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  will-change: transform;
}
.dotimg{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: solid 1.3rem rgba(195, 191, 160, 0.8);
}
.slider[data-pos="0"] .slider__slides {
  transform: translateX(0%);
}
.slider[data-pos="1"] .slider__slides {
  transform: translateX(-25%);
}

.slider__slide {
  float: left;
  width: 25%;
  height: 100%;
  border-radius: 50%;
}
.slider__dots {
  display: flex;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.slider__dot:active{
  background: #ffffff;
}

.slider__dot, .slider__indicator {
  display: block;
  margin: 0 0.5em;
  width: 1em;
  height: 1em;
  background: #e1ddbf8c;
  border-radius: 100px;
}
.slider__indicator {
  position: absolute;
  background: white;
  width: auto;
}
.slider__indicator--left {
  transition: left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15);

}
.slider__indicator--right {
  transition: left 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
.slider[data-pos="0"] .slider__indicator {
  left: 0em;
  right: 6em;
}
.slider[data-pos="1"] .slider__indicator {
  left: 2em;
  right: 4em;
}

.center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

.slider {
  max-width: 400px;
  max-height: 400px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); */
}

.footer{
  margin: 30px 0 30px 0;
  text-align: center;
  color: #255a50;
  font-size: 1rem;
} 

@media (max-width: 1280px) {
  #row{
      padding: 100px 50px;
  }

}
@media (max-width: 1200px) {
    #row{
        padding: 100px 50px;
    }
}
@media (max-width: 1000px) {
    .card {
        margin: 0 180px 0 -30px;
      }

}
@media (max-width: 912px) {
  h1{
    font-size: 4rem;
  }
}
@media (max-width: 765px) {
  #row{
    padding: 80px 100px;  
  }
}
@media (max-width: 767px) {
    h1 {
      text-align: center;
        margin-top: 80px;
    }
    .text{
      text-align: center;
    }
    .text1{
      text-align: center;
      margin-top: 350px;
      margin-bottom: -30px;
    }
    #team1{
      margin-top: -1100px;
      margin-left: -45px;
    }
    .rate{
      justify-content: center;
      margin-top: -35px;
      margin-left: 100px;
    }
    .aboutus{
      margin: 20px 0;
    }
    .rating{
      margin-top: 10px;
    }
    #row{
      padding: 80px 100px; 
    }
    
}
@media (max-width: 667px) {

  .rate{
    margin-left: 70px;
  }

}
@media (max-width: 600px) {
  h2 {
      margin-left: -5px;
  }
  .rate{
    margin-left: 80px;
  }
  #row{
    padding: 80px 50px;
  }
  .aboutus{
      margin-left: -5px;
  } 
  .text1{
    text-align: center;
    margin-top: 290px;
    margin-bottom: -30px;
  }
  #team1{
    margin-top: -1100px;
    margin-left: -45px;
  }
}
@media (max-width: 500px) {
    h2 {
        margin-left: -5px;
    }
    #row{
      padding: 80px 60px;
    }
    .rate{
      margin-top: 10px;
      margin-left: 60px;
    }
    .aboutus{
        margin-left: -5px;
    } 
    .text1{
      text-align: center;
      margin-top: 240px;
      margin-bottom: -30px;
    }
    #team1{
      margin-top: -1100px;
      margin-left: -45px;
    }
}
@media (max-width: 420px) {
    .card {
        margin: 0 228px 0 -78px;
      }
      #row{
        padding: 80px 50px;
      }
      .text1{
        text-align: center;
        margin-top: 250px;
        margin-bottom: -30px;
      }
      #team1{
        margin-top: -1080px;
        margin-left: -45px;
      }
}
@media (max-width: 412px) {
  h1{
    font-size: 3rem;
  }
}
@media (max-width: 395px) {
    .text1{
      text-align: center;
      margin-top: 220px;
      margin-bottom: -30px;
    }
    #team1{
      margin-top: -1100px;
      margin-left: -45px;
    }
}
@media (max-width: 380px) {
  .text1{
    text-align: center;
    margin-top: 200px;
    margin-bottom: -30px;
  }
  #team1{
    margin-top: -1130px;
    margin-left: -45px;
  }
}
@media (max-width: 280px) {
  h1{
    font-size: 2rem;
  }
  .time, .aboutus{
    font-size: 0.8rem;
  }
  #row{
    padding: 40px 20px;
  }
  .dotimg{
    border: solid 0.8rem rgba(195, 191, 160, 0.8);
  }
}