/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    align-items: center;
    justify-content: center;
    background-color: #E1DDBF;
}
.navbar{
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #1e4f46, #c3bfa2);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  clip-path: circle(0px at calc(100% - 30px) 45px) ;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden; 
}
#active:checked ~ .navbar{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 22px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: none;
  padding-top: 2px;
  font-size: 30px;
  color: #346D63;
  cursor: pointer;
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #ffffff00;
  color: #ffffff;
  position: fixed;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.navbar ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navbar ul li{
  margin: 5px 0;
}
.navbar ul li a{
  color: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 5px 10px;
  color: #ffffff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.navbar ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.navbar ul li a:hover:after{
  transform: scaleY(1);
  background-color: #cbc7ac;
}
.navbar ul li a:hover{
  color:#1e4f46;
}
input[type="checkbox"]{
  display: none;
}

.dropdown-menu  {
    background-color: #E1DDBF;
    border: none;
}
.dropdown-menu .dropdown-item[href="#"]:hover {
    background-color: #c3bfa2;
}
.nav-item:hover {
    background-color: #c3bfa2;
}
.nav-item a {
    text-align: center;
    font-size: 1.3rem; /* Change the font size to the desired value */
    padding: 20px 20px 20px 90px; /* Change the padding to the desired value */
}
.dropdown-item{
    margin-left: -40px;
    color: rgb(134, 134, 134);
}
.custom-bg{
    background-color: #E1DDBF;
        font-family: Arial, Helvetica, sans-serif;

}

#sidebar{
  margin: -30px 0px 0 -30px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 300px;
  /* background-color: #ffc8a1;
  color: rgb(0, 0, 0); */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img1-fluid{
    width:130px;
    height:130px;
}
span{
    color:#4C837A;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 45px;
}
.item-list{
  font-family: Arial, Helvetica, sans-serif;
}


.item-list:hover {
    /* width: 100px;
    height: 50px; */
    background-color: #4c837ae8;
    color: #E1DDBF;
    padding:7px 20px;

    border-radius:50px;
  }
.box{
    width:904px;
    height:350px;
    background-color: #4C837A;
}
.footer{
    margin: 60px 0 8px 0;
    text-align: center;
    color: #255a50;
    font-size: 1rem;
}
#vector-icon{
  height:32px;
  width:32px;
} 

.main {
  position: relative;
  width: 100%;
  min-height: calc(85vh - 10px);
}

.logo {
  position: fixed;
  margin-bottom: 20px;
  margin-left: 18px;
}
.logo {
  position: fixed;
  margin-bottom: 20px;
  margin-left: 18px;
}
/* sidebar */

.sidebar {
  position: absolute;
  top: 0px;
  left: 0;
  margin: 20px 25px;
  height: 100%;
  width: 400px;
  color: #4C837A;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-right: 2px solid #f1f1f1; */
  transition: 0.1s;
}
.sidebar--item{
  color: #4C837A;
  margin: 0px 5px;
}
.sidebar--items li a {
  text-decoration: none;
  box-sizing: border-box;
}

.sidebar--items li a:hover {
  text-decoration: none;
}
.sidebar--item:hover{
  background-color: #4C837A;
  color: #E1DDBF;
  border-radius: 50px;
  padding: 5px 15px;
}

.sidebar.active {
  width: 103px;
  overflow: hidden;
}

.sidebar.active .sidebar--item {
  display: none;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.sidebar--items a,
.sidebar--bottom-items a {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
}


/* .sidebar--items a:hover,
.sidebar--bottom-items a:hover {
  background-color: #4C837A;
  color: #E1DDBF;
  border-radius: 50px;
  padding: 5px 20px;
} */

/* #active--link {
  background-color: white;
  color: rgb(0, 0, 0);
} */

.sidebar--bottom-items li:last-child a {
  margin-bottom: 0;
  text-decoration: none;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 1.3rem;
}



/* main--content */

.main--content {
  margin: 40px 40px 0 0px;
  border-radius: 10px;
  background-color: #4C837A;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% - 400px);
  padding: 0 40px;
  overflow-y: scroll;
  transition: 0.3s;
}

.main--content.active {
  width: calc(100% - 103px);
}

.dropdown {
  outline: none;
  border: none;
  background-color: #f1f4f8;
  border-radius: 5px;
  width: 150px;
  padding: 5px;
}

h2{
  text-align: center;
  color: #E1DDBF;
  font-size: 2rem;

  font-family: Arial, Helvetica, sans-serif;
}
#row{
  text-align: center;
  padding: 40px 40px;
  background-color: #e1ddbfcb;
  color: #346D63;
  margin: 50px 100px;
  border-radius: 10px;
  margin-bottom: 30px;
}
#team{
  justify-content: center;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 10px; 
  margin-left: 0px;
} 
button{
  color: #E1DDBF;
  background-color: #346D63;
  margin: -20px 0 40px 0;
  padding: 3px 80px;
  border: none;
  border-radius: 40px;
}
.time{
font-size: 1.2rem;
/* font-weight: bold; */
}  
.aboutus{
  font-size: 1.2rem;
  margin-left: 0px;
  padding: 10px 0;
}

h5{
  text-align: center;
  font-size: 1.8rem;
  margin-top: 50px;
  color: #346D63;
}
.slider {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;

}
.slider__slides {
position: relative;
justify-content: center;
width: 500%;
height: 100%;
transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
will-change: transform;
}
#team img{
border-radius: 50%;
width: 50%;
margin: 50px;
}

.slider__slide {
float: left;
width: 25%;
height: 100%;
border-radius: 50%;
justify-content: center;
text-align: center;
}
.center {
display: flex;
height: 100vh;
justify-content: center;
align-items: center;

}

.slider {
max-width: 400px;
max-height: 400px;
/* box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); */
}

.edit-form{
  background-color: #255a50;
  width: 350px;
  border-radius: 20px;
  height: 380px;
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 9999;
  border: solid 0.2rem black;
}
.formtext{
  color: #E1DDBF;
  float: left;
  margin: 10px 30px;
  position: fixed;
}
.edit-form .save-button, .cancel-button{
  text-align: center;
  color: #255a50;
  background-color: #E1DDBF;
  width: 100px;
  height: 30px;
  margin: 0 20px;
}
.save-button{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  padding: 5px;
}
.cancel-button{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  padding: 5px;
}
.picture-input{
  text-align: center;
  margin: 40px 0 10px 0;
  color: #255a50;
  width: 250px;
  font-size: 0.8rem;
  padding: 30px 20px;
  height: 80px;
  background-color: #E1DDBF;
}
.description-input{
  margin: 40px 0 30px 0;
  color: #255a50;
  width: 250px;
  font-size: 0.8rem;
  padding: 5px 10px;
  height: 80px;
  background-color: #E1DDBF;
}

.edit-form1{
  background-color: #255a50;
  width: 350px;
  border-radius: 20px;
  height: 380px;
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 9999;
  border: solid 0.2rem black;
}
.formtext1{
  color: #E1DDBF;
  float: left;
  margin: 10px 30px;
  position: fixed;
}
.edit-form1 .save-button1, .cancel-button1{
  text-align: center;
  color: #255a50;
  background-color: #E1DDBF;
  width: 100px;
  height: 30px;
  margin: 0 20px;
}
.save-button1{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  padding: 5px;
}
.cancel-button1{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  padding: 5px;
}
.picture-input1{
  text-align: center;
  margin: 40px 0 10px 0;
  color: #255a50;
  width: 250px;
  font-size: 0.8rem;
  padding: 30px 20px;
  height: 80px;
  background-color: #E1DDBF;
}
.description-input1{
  margin: 40px 0 30px 0;
  color: #255a50;
  width: 250px;
  font-size: 0.8rem;
  padding: 5px 10px;
  height: 80px;
  background-color: #E1DDBF;
}

.edit-form2{
  background-color: #255a50;
  width: 350px;
  border-radius: 20px;
  height: 380px;
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 9999;
  border: solid 0.2rem black;
}
.formtext2{
  color: #E1DDBF;
  float: left;
  margin: 10px 30px;
  position: fixed;
}
.edit-form2 .save-button2, .cancel-button2{
  text-align: center;
  color: #255a50;
  background-color: #E1DDBF;
  width: 100px;
  height: 30px;
  margin: 0 20px;
}
.save-button2{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  padding: 5px;
}
.cancel-button2{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  padding: 5px;
}
.picture-input2{
  text-align: center;
  margin: 40px 0 10px 0;
  color: #255a50;
  width: 250px;
  font-size: 0.8rem;
  padding: 30px 20px;
  height: 80px;
  background-color: #E1DDBF;
}
.description-input2{
  margin: 40px 0 30px 0;
  color: #255a50;
  width: 250px;
  font-size: 0.8rem;
  padding: 5px 10px;
  height: 80px;
  background-color: #E1DDBF;
}

/* responsive layouts */

@media screen and (max-width: 1350px) {
  .cards,
  .employee--cards {
    overflow-x: scroll;
  }
  .edit-form1{
    background-color: #255a50;
    width: 350px;
    border-radius: 20px;
    height: 380px;
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 9999;
    border: solid 0.2rem black;
  }
  .formtext1{
    color: #E1DDBF;
    float: left;
    margin: 10px 30px;
    position: fixed;
  }
  .edit-form1 .save-button1, .cancel-button1{
    text-align: center;
    color: #255a50;
    background-color: #E1DDBF;
    width: 100px;
    height: 30px;
    margin: 0 20px;
  }
  .save-button1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    padding: 5px;
  }
  .cancel-button1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    padding: 5px;
  }
  .picture-input1{

    margin: 40px 0 10px 0;
    width: 250px;
    font-size: 0.8rem;
    padding: 30px 20px;
    height: 80px;
  }
  .description-input1{
    margin: 40px 0 30px 0;
    width: 250px;
    font-size: 0.8rem;
    padding: 5px 10px;
  }
  
}

@media screen and (max-width: 1024px) {
  table {
    min-width: 600px;
  }
  .edit-form, .edit-form1, .edit-form2{
    left: 63%;
  }
  
}

@media screen and (max-width: 768px) {

  .search--notification--profile {
    padding: 0 20px;
    margin-left: auto;
  }
  .main--content {
    padding: 0 20px;
  }
  .sidebar {
    padding: 20px;
  }
  .sidebar.active {
    width: 85px;
  }
  .main--content.active {
    width: calc(100% - 85px);
  }
  #row{
    margin: 0 20px;
  }
  .h2-responsive{
    font-size: 1.7rem;
  }
  .time, .aboutus{
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #row{
    margin: 0 20px;
  }
  .h2-responsive{
    font-size: 1rem;
  }
  .time, .aboutus{
    font-size: 0.7rem;
  }
  button{
    padding: 5px 60px;
  }
  #team img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin: 30px 0;
  }
  #row{
    margin: 0 5px;
  }
}

@media screen and (max-width: 390px) {
  #row{
    margin: 0 5px;
  }
  .h2-responsive{
    font-size: 1rem;
  }
  .time, .aboutus{
    font-size: 0.6rem;
  }
  button{
    padding: 2px 10px;
  }
  #team img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin: 20px 0;
  }

}
 
@media screen and (max-width: 990px) {
  .search,
  .lock,
  .chat {
    display: none;
  }
  .notification--profile {
    margin-left: auto;
  }
  .search--notification--profile {
    width: fit-content;
  }
  .sidebar {
    transform: translateX(-100%);
    z-index: 10;
  }
  .sidebar.active {
    transform: translateX(0);
    width: 300px;
  }
  .sidebar.active .sidebar--item {
    display: block;
  }
  .main--content {
    width: calc(100% - 90px);
    margin-top: 20px;
    height: 88%;
  }
  .main--content.active {
    width: calc(100% - 0px);
  }
  .logo{
    position: relative;
    margin-top: -20px;
  }
  footer{
    margin: -90px 0 -60px 0;
  }
  .menu-btn{
    margin-top: 30;
  }
  /* #row{
    padding: 40px 40px;
    margin: 50px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
  } */
}

@media screen and (max-width: 450px) {
  .employee--filter {
    display: none;
  }
  .main--content {
    padding: 0 10px;
  }

}
@media screen and (max-width: 412px) {
  .employee--filter {
    display: none;
  }
  .main--content {
    padding: 0 0px;
  }
  bottom{
    width: 20px;
  }
  .edit-form3, .edit-form1, .edit-form2{
    left: 50%;
  }
}
@media screen and (max-width: 912px) {
  .edit-form, .edit-form1, .edit-form2{
    left: 50%;
  }
  .menu-btn{
    margin-top: 10px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 540px) {
  .edit-form, .edit-form1, .edit-form2{
    left: 51%;
  }
  .menu-btn{
    margin-top: 15px;
    margin-right: 25px;
  }
}
@media screen and (max-width: 390px) {
  .edit-form1, .edit-form2, .edit-form3{
    left: 50%;
  }
}
@media screen and (max-width: 415px) {
  .edit-form1, .edit-form2, .edit-form3{
    left: 50%;
  }
  .logo{
    margin-left: 0px;
    margin-top: -10px;
  }
  .menu-btn{
    margin-top: 10px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 360px) {
  .edit-form1, .edit-form2, .edit-form3{
    left: 50%;
  }
}
@media(max-width:991px){
  .img1-fluid{
      display:none;
  }
  span{
      display:flex;
      justify-content: center;
      align-items: center;
      color:#E1DDBF;
      padding:0% 5px;
  }
  #sidebar{
      position:fixed;
      background-color: #4C837A;
      color:#E1DDBF;
  }
}

@media (max-width:1174px) and (min-width:992px){
  .item-list{
    padding-left:3px;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  #row{
      padding: 100px 50px;
  }
  /* h2 {
      margin-left: 30px;
  }
    
  .aboutus{
      margin-left: 30px;
  }  */

}
@media (max-width: 1000px) {
  .card {
      margin: 0 180px 0 -30px;
    }

}
@media (max-width: 765px) {
#row{
  padding: 80px 100px;  
}
}
@media (max-width: 767px) {
  h1 {
    text-align: center;
      margin-top: 80px;
  }
  .text{
    text-align: center;
  }
  .text1{
    text-align: center;
    margin-top: 350px;
    margin-bottom: -30px;
  }
  #team1{
    margin-top: -1100px;
    margin-left: -45px;
  }
  .rate{
    justify-content: center;
    margin-top: -35px;
    margin-left: 100px;
  }
  .aboutus{
    margin: 20px 0;
  }
  .rating{
    margin-top: 10px;
  }
  #row{
    padding: 80px 10px; 
  }
  
}
@media (max-width: 667px) {

.rate{
  margin-left: 70px;
}

}
@media (max-width: 600px) {
h2 {
    margin-left: -5px;
}
.rate{
  margin-left: 80px;
}
#row{
  padding: 80px 80px;
}
.aboutus{
    margin-left: -5px;
} 
.text1{
  text-align: center;
  margin-top: 290px;
  margin-bottom: -30px;
}
#team1{
  margin-top: -1100px;
  margin-left: -45px;
}
}
@media (max-width: 500px) {
  h2 {
      margin-left: -5px;
  }
  #row{
    padding: 80px 60px;
  }
  .rate{
    margin-top: 10px;
    margin-left: 60px;
  }
  .aboutus{
      margin-left: -5px;
  } 
  .text1{
    text-align: center;
    margin-top: 240px;
    margin-bottom: -30px;
  }
  #team1{
    margin-top: -1100px;
    margin-left: -45px;
  }
}
@media (max-width: 420px) {
  .card {
      margin: 0 228px 0 -78px;
    }
    #row{
      padding: 80px 50px;
    }
    .text1{
      text-align: center;
      margin-top: 250px;
      margin-bottom: -30px;
    }
    #team1{
      margin-top: -1080px;
      margin-left: -45px;
    }
    button{
      margin: -20px 0 40px 0;
      padding: 3px 20px;
    }
}
@media (max-width: 395px) {
  .text1{
    text-align: center;
    margin-top: 220px;
    margin-bottom: -30px;
  }
  #team1{
    margin-top: -1100px;
    margin-left: -45px;
  }
  button{
    margin: -20px 0 40px 0;
    padding: 3px 20px;
  }
}
@media (max-width: 380px) {
.text1{
  text-align: center;
  margin-top: 200px;
  margin-bottom: -30px;
}
#team1{
  margin-top: -1130px;
  margin-left: -45px;
}
.logo{
  margin-left: -12px;
}
}

@media screen and (max-width: 280px) {
  .edit-form1, .edit-form2, .edit-form3{
    left: 50%;
  }
  .main--content {
  margin: 20px 10px 0 0px;
  width: calc(100% - 20px);
  }
  .menu-btn, .menu-btn1, .menu-btn2{
    margin-top: 15px;
    margin-right: 8px;
  }
  .edit-form, .edit-form1, .edit-form2{
    width: 250px;
    height: 380px;
    left: 50%;
  }
  .edit-form .save-button, .cancel-button{
    width: 80px;
    height: 30px;
    margin: 0 9px;
  }
  .edit-form1 .save-button1, .cancel-button1{
    width: 80px;
    height: 30px;
    margin: 0 9px;
  }
  .edit-form2 .save-button2, .cancel-button2{
    width: 80px;
    height: 30px;
    margin: 0 9px;
  }
  .picture-input, .picture-input1, .picture-input2{
    width: 200px;
    font-size: 0.6rem;
  }
  .description-input, .description-input1, .description-input2{
    width: 200px;
    font-size: 0.6rem;
  }
  
}