/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    align-items: center;
    justify-content: center;
    background-color: #E1DDBF;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #1e4f46, #c3bfa2);
  clip-path: circle(0px at calc(100% - 30px) 45px) ;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden; 
}
#active:checked ~ .navbar{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 22px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: none;
  padding-top: 2px;
  font-size: 30px;
  color: #346D63;
  cursor: pointer;
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #ffffff00;
  color: #ffffff;
  position: fixed;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.navbar ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navbar ul li{
  margin: 5px 0;
}
.navbar ul li a{
  color: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 5px 10px;
  color: #ffffff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.navbar ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.navbar ul li a:hover:after{
  transform: scaleY(1);
  background-color: #cbc7ac;
}
.navbar ul li a:hover{
  color:#1e4f46;
}
input[type="checkbox"]{
  display: none;
}

.dropdown-menu  {
    background-color: #E1DDBF;
    border: none;
}
.dropdown-menu .dropdown-item[href="#"]:hover {
    background-color: #c3bfa2;
}
.nav-item:hover {
    background-color: #c3bfa2;
}
.nav-item a {
    text-align: center;
    font-size: 1.3rem; /* Change the font size to the desired value */
    padding: 20px 20px 20px 90px; /* Change the padding to the desired value */
}
.dropdown-item{
    margin-left: -40px;
    color: rgb(134, 134, 134);
}

#row{
    padding: 60px 200px;
    background-color: #346D63;
    color: #E1DDBF;
}


h1 {
    font-size: 2.5rem;
    margin-left: 0px;
} 
  
.aboutus{
    font-size: 1.2rem;
    margin: 35px 0;
    color: #e1ddbfd3;
}
button{
    margin-top: 35px;
    font-size: 1.2rem;
    background-color: #E1DDBF;
    color: #346D63;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
}
button:hover{
    color: #E1DDBF;
    background-color: #346D63;
    border: solid 3px #E1DDBF;
}
.b2{
    margin-top: 35px;
    font-size: 1.2rem;
    background-color: #346D63;
    color: #e1ddbf;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
}
.b2:hover{
    color: #255a50;
    background-color: #e1ddbf;
    border: solid 3px #255a50;
}

h5{
    /* text-align: center; */
    font-size: 1.8rem;
    margin-top: 50px;
    color: #346D63;
}

hr{
    border-top: 1px solid #255a50a7;
}

.footer{
    margin: 30px 0 30px 0;
    text-align: center;
    color: #255a50;
    font-size: 1rem;
} 
