#container-fluid{
  background-color: #346D63;
}
#main-form{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
  margin-left: 35px;
}
.order-col{
  max-width:600px;
  min-height: 580px;
  background-color: #E1DDBF;
  color: #346D63;
  position: relative;
}
.btn{
  width:120px;
  height:50px;
  background-color: #346D63;
  color:#E1DDBF;
  border:1px #346D63;
}
.btn:hover{
  background-color: #E1DDBF;
  color:#346D63;
  border:1px solid #346D63;
}
.btn::after{
  background-color: #346D63;
  color:#E1DDBF;
  border:1px #346D63;
}
#recentOrders {
  max-width: 510px;
  background-color: #E1DDBF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom:30px;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 530px;
  overflow-y: scroll;
}
.order-item {
  color: #346D63;
  font-size: 1rem;
  padding: 10px;
  line-height: 42px;
  max-width: 480px;
  min-width: 250px;
  overflow-wrap: break-word;
}
.order-item h4{
  padding-top:8px;
}

.cancel-btn {
  margin-top: 10px;
  margin-bottom:10px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: rgb(227, 27, 27);
  opacity: 90%;
}
#title{
  color:#E1DDBF;
}

@media (max-width: 991px) {
  #main-form {
    flex-direction: column;
    align-items: center;
  }
  #orderForm{
    position: relative;
    margin-bottom:-40px;
  }
}
@media (max-width: 520px) {
  #main-form {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .order-col, .recent {
    max-width: none;
    width: 100%;
  }

  .box {
    max-width: 100%;
  }
  #recentOrders{
      padding:0 auto;
  }
  .order-item{
      padding:0 auto;
  }
}
.error-container {
  color: red;
  margin-bottom: 10px;
}

