/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    background-color: #E1DDBF;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #1e4f46, #c3bfa2);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  clip-path: circle(0px at calc(100% - 30px) 45px) ;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden; 
}
#active:checked ~ .navbar{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 22px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: none;
  padding-top: 2px;
  font-size: 30px;
  color: #346D63;
  cursor: pointer;
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #ffffff00;
  color: #ffffff;
  position: fixed;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.navbar ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navbar ul li{
  margin: 5px 0;
}
.navbar ul li a{
  color: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 5px 10px;
  color: #ffffff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.navbar ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.navbar ul li a:hover:after{
  transform: scaleY(1);
  background-color: #cbc7ac;
}
.navbar ul li a:hover{
  color:#1e4f46;
}
input[type="checkbox"]{
  display: none;
}

.dropdown-menu  {
    background-color: #E1DDBF;
    border: none;
}
.dropdown-menu .dropdown-item[href="#"]:hover {
    background-color: #c3bfa2;
}
.nav-item:hover {
    background-color: #c3bfa2;
}
.nav-item a {
    text-align: center;
    font-size: 1.3rem; /* Change the font size to the desired value */
    padding: 20px 20px 20px 90px; /* Change the padding to the desired value */
}
.dropdown-item{
    margin-left: -40px;
    color: rgb(134, 134, 134);
}
.footer{
    margin: 30px 0 30px 0;
    text-align: center;
    color: #255a50;
    font-size: 1rem;
}
#title{
    color:#346D63;
    max-width: 590px;
    height:130px;
    background-color: #E1DDBF;
    border-radius:0 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}
#field{
    padding-top: 80px;
    max-width:590px;
    height:580px;
    background-color: #E1DDBF;
    color:#346D63;
    border-radius: 10px;
}
.img{
  width:calc(100%-120px);
  height: calc(100%-120px);
}
.row{
    background-color: #346D63;
}
.form-control{
    /* max-width: 450px; */
    color:#346D63;
    border-color: #346D63;
}
#dropdownMenu{
    max-width:450px;
}
.btn{
  width:100px;
  background-color: #346D63;
  color:#E1DDBF;
}
.btn:hover{
  border-color: #346D63;
  color:#346D63;
}
@media(min-width:992px){
  .size{
    width:420px;
  }
}
@media screen and (max-width:992px){

}
@media(max-width:991px) and (min-width:800px){
  .size{
    width:350px;
  }
}
@media(max-width:767px){
  .size{
    width:320px;
  }  #share{
    margin:auto 30px;
  }

}
@media(max-width:400px){
  .size{
    width:auto;
  }
}
.invalid-feedback{
  padding-bottom: 5px;
  background-color: #E1DDBF;
}
#share{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media(max-width:450px){
  .container-fluid{
    margin-right: 10px;
    padding:0;
    margin:0%;
  }
  #content{
    width:100%;
    margin:0%;
    /* margin-right:100px; */
  }
  .size{
    width:auto;
  }
  #share{
    margin: 0%;
    padding: 0px;
  }
  #title{
    font-size: 24px;
    max-width: 590px;
    height:70px;
    background-color: #E1DDBF;
    border-radius:0 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    margin: 0;
    align-items: center;
  }
  h4{
    margin:0px;
    padding-top:150px;
    padding:0%;
  }
  #field{
    margin:0;
    padding:0px;
  }
  #title{
    margin-bottom: 15px;
  }
}
.invalid-feedback{
  padding-bottom: 5px;
  background-color: #E1DDBF;
}
#share{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width:990px) and (min-width:769px){
  #share{
    margin-left: 78px;
  }
  #field{
    margin:0;
    padding:0px;
  }
  .navbar-brand{
    margin-bottom: 8px;
  }
  .footer{
    margin-bottom: 12px;
  }
}