.sidebar{
    width:300px;
    height:565px;
    background-color: #346D63;
}
h4{
    font-size: 20px;
    font-weight: 700;
    color:#E1DDBF;
}
h6{
    color:#E1DDBF;
}
.box{
    max-width:350px;
    height: 45px;
    border:2px solid #346D63;
    background-color: white;
    border-radius: 5px;
}
.form-control{
    max-width: 350px;
    height: 45px;
}
#btn{
    width:120px;
    height:50px;
    background-color: #346D63;
    color:#E1DDBF;
    border:1px #346D63;
}
#btn:hover{
    background-color: #E1DDBF;
    color:#346D63;
    border:1px solid #346D63;
}
#btn::after{
    background-color: #346D63;
    color:#E1DDBF;
    border:1px #346D63;
}
h5{
    text-align: start;
}
@media(max-width:767px){
    .sidebar{
        display:none;
    }
    h5{
        padding-top:3px ;
        text-align: center;
    }
    .main {
        bottom: 24px;
        left:32px;
        width:100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .row2{
        margin-top: 30px;
    }
    .main .form-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left:12px;
    }
    .main .form-group {
        /* margin-bottom: 10px; */
        margin-left: 20px;
        width: 310px;
    }
    .main .form-label {
        margin-bottom: 5px;
    }
    .btn{
        display: flex;
        justify-content: center;
    }
}