*{
    margin:0%;
    padding:0%;
}
#box{
    background-color: #4C837A;
    /* line-height: 24px; */
}
h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color:#E1DDBF;
}
h6{
    font-size:20px;
    font-weight: 400;
    line-height: 22px;
    color:#E1DDBF;

}
.h4{
    color:#4C837A;
}
.form-label{
    color:#4C837A;
}
.form-control{
    max-width:300px;
    color:#4C837A;
}
#sidebar{
    background-color: #4C837A;
}
.btn{
    width:100px;
    height:50px;
    color:#E1DDBF;
    background-color: #4C837A;
}
.btn:hover{
    border:1px;
    color: #4C837A;
}